body {
  font-family: 'Lato', sans-serif;
}

.timetable {
  display: flex;
}

.timetable-hours {
  position: relative;
  transform: translateY(7%);
  display: flex;
  flex-direction: column;
  row-gap: .8rem;
}

.date {
  display: flex;
  flex-direction: column;
}

.date label {
  font-size: 1.2rem;
}

.timeslot {
  height: 1rem;
  width: 8rem;
  outline: 1px solid rgba(0, 0, 0, 0.2)
}

.timeslot:hover {
  outline: 1px dashed;
}